IP_ESCUCHA=127.0.0.1
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=/home/utnso/tp-2023-1c-Codefellas/fileSystem/archivos/superbloque.dat
PATH_BITMAP=/home/utnso/tp-2023-1c-Codefellas/fileSystem/archivos/bitmap.dat
PATH_BLOQUES=/home/utnso/tp-2023-1c-Codefellas/fileSystem/archivos/bloques.dat
PATH_FCB=/home/utnso/tp-2023-1c-Codefellas/fileSystem/archivos/fcb/